@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #faffe4;
  font-family: Inter, sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'New Amsterdam', sans-serif;
}

.card-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* transition: box-shadow 0.3s ease; */
  transition: all 0.2s ease;
  margin-bottom: 5px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.card p {
  font-size: 0.8rem;
  line-height: 1.4;
}

.sign {
  font-size: 0.7rem;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}
@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}